@{
    Html.RenderPartial("_HeaderNavBar");
     Layout = "_Layout";
}

<a href='@Url.Action("ListarUsuarios","Admin")'>Listar Usuarios</a>
<a href='@Url.Action("ListarComentarios","Admin")'>Listar Comentários</a>