
<nav>
    <div>
         <ul>
            <li><a href="#">Principal</a></li>
            <li><a href="#">Planos e Preços</a></li>
            <li><a href="#">Quem Somos</a></li>
            <li><a href='@Url.Action("Index","Cadastro")'>Cadastro/login</a></li>
            <li><a href="#">Sac</a></li>
         </ul>
    </div>
</nav>