
<nav>
    <div>
         <ul>
            <li><a asp-controller="Home" asp-action="Index" class="active">Principal</a></li>
            <li><a href="#">Planos e Preços</a></li>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#">Cadastro/login</a></li>
            <li><a href="#">Sac</a></li>
         </ul>
    </div>
</nav>