@{
Layout = "_Layout";
}


<body>
    <nav class="NavBar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">planos e preços</a></li>
            <li><a href="#">quem somos</a></li>
            <li><a href="#">Cadastro/Login</a></li>

        </ul>
    </nav>
    <header>
        <div>
            <!--DivLogo-->
            <img src="imagens/logo.png" height="200px" width="200px" alt="logo ponto digital">
        </div>

        <!-- <div class="redes-sociais">
            <h2>Redes sociais</h2>
            <img src="imagens/facebook.png" height="60px" width="60px" alt="Logo facebook"> <br>
            <img src="imagens/twitter.png" height="60px" width="60px" alt="Logo twitter">
        </div> -->

        <div class="produto">
            <h2>produto</h2>
            <p>Um produto inovador que pode ajudar você e a sua impresa </p>
        </div>

        <section id="local">
            <!-- TODO:Colocar o mapa do Google! -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410"
                width="1902" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>

    </header>
    <!--fim da home-->
    <footer id="rodape_2">
        <address>
            Avenida Barão de Limeira, 539 - Campos Elíseos - SP
            <br />
            mcbonalds@email.com
            <br />
            11 1234 6789
        </address>
        </section>
    </footer>
</body>

</html>