

    @{
        Html.RenderPartial("_HeaderNavBar");
        Layout = "_Layout";
    }
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Poto Digital</title>
    </head>

    <header>
        <div id="logo_area">
            <!--DivLogo-->
            <img src="imagens/logo.png" height="200px" width="200px" alt="logo ponto digital">
        </div>

        <!-- <div class="redes-sociais">
            <h2>Redes sociais</h2>
            <img src="imagens/facebook.png" height="60px" width="60px" alt="Logo facebook"> <br>
            <img src="imagens/twitter.png" height="60px" width="60px" alt="Logo twitter">
        </div> -->

        <div class="produto">
            <h2>Planos e Preços</h2>

            <h3>Plano de Teste</h3>
            <p>R$ 00.00</p>
            <p>Um mês grátis, e um usuário do plano</p>
            <h3>Plano 1</h3>
            <p>Um mês grátis, e 10 usuários do plano</p>
            <p>R$ 29.90</p>
            <h3>Plano 2</h3>
            <p>Um mês grátis, e um 20 do usuários plano</p>
            <p>R$ 149,90</p>
            <h3>Plano 3</h3>
            <p>Um mês grátis, e um 50 usuários do plano</p>
            <p>R$ 299,90</p>
            <h3>plano 4</h3>
            <p>Um mês grátis, e um 100 usuários do plano</p>
            <p>R$ A definir</p>
        </div>

        
        <section id="QuemSomos">
            <div>
                <h2>Quemsomos</h2>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </section>
        <section id="sac">
            <h2>Sac</h2>
            <div>
                <label for="nome">Nome Completo</label>
                <input id="nome" type="text" maxlength="50" minlength="3" name="nome" />
                <br>
                <label for="Email">Email</label>
                <input id="email" type="text" name="email">
                <br>
                <label for="digite">Escreva sua Duvida/Reclamação</label>
                <input  id="digite" type="text" maxlength="140" minlength="2" name="digite">
                <input type="submit" value="Enviar">
            </div>
        </section>
    </header>
    <!--fim da home-->
<section id="local">
            <!-- TODO:Colocar o mapa do Google! -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410"
                width="1902" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
    <footer id="Rodape">
        <address>
            Avenida Barão de Limeira, 539 - Campos Elíseos - SP
            <br />
            PontoDigital@Gmail.com
            <br />
            11 1234 6789
        </address>
        </section>
    </footer>


</html>